{% extends 'baseAdmin.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <link href="{{ asset("css/jsgrid/jsgrid.css") }}" rel="stylesheet">
    <link href="{{ asset("css/jsgrid/theme.css") }}" rel="stylesheet">
{% endblock %}

{% block title %}Modèle d'audits - création{% endblock %}

{% block sideNavModels %}active{% endblock %}

{% block content %}
<div class="wrapper-audit">
    <div class="card">
        <div class="card-header card-header-success header-flex">
            <div class="header-right">
                <h4 class="card-title">Nouveau modèle d'audit</h4>
                <p class="card-category">créé le ...</p>
            </div>
            <div>
                <p class="score-audit-detail"><i class="material-icons" style="font-size: 28px;">library_books</i></p>
            </div>
        </div>
        <div class="card-body">
            <div id="theme1"></div>
        </div>
    </div>
    <div class="pagination">
        <a href="{{ app.request.headers.get('referer') }}" class="back-btn-text"><button class="btn btn-info">Retour</button></a>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>    <script>

    var clients = [
        { "requirement": "Otto Clay"},
        { "requirement": "Connor Johnston"},
        { "requirement": "Lacey Hess"},
        ];


    $("#theme1").jsGrid({


        data: clients,

        fields: [
            { name: "requirement", title: "Exigence", type: "text", width: 500, validate: "required"},
            { type: "control" }, 
            /*            {
                type: "text",
                name: "Exigence",
                title: "Exigence",
                align: "left",
                width: 100,
                visible: true,

                css: "",
                headercss: "",
                filtercss: "",
                insertcss: "",
                editcss: "",

                filtering: false,
                inserting: true,
                editing: true,
                sorting: true,
                sorter: "string",

                headerTemplate: function() {  },
                itemTemplate: function(value, item) {  },
                filterTemplate: function() {  },
                insertTemplate: function() {  },
                editTemplate: function(value, item) {  },

                filterValue: function() {  },
                insertValue: function() {  },
                editValue: function() {  },

                cellRenderer: null,

                validate: null
            },
*/

        ],

        autoload: false,
        controller: {
            loadData: function(filter) {
                return $.ajax({
                    type: "GET",
                    url: "/items",
                    data: filter
                });
            },

            insertItem: function(item) {
                return $.ajax({
                    type: "POST",
                    url: "/items",
                    data: item
                });
            },

            updateItem: function(item) {
                return $.ajax({
                    type: "PUT",
                    url: "/items",
                    data: item
                });
            },

            deleteItem: function(item) {
                return $.ajax({
                    type: "DELETE",
                    url: "/items",
                    data: item
                });
            },
        },

        width: "100%",
        height: "auto",

        heading: true,
        filtering: false,
        inserting: true,
        editing: true,
        selecting: true,
        sorting: false,
        paging: false,
        pageLoading: false,

        rowClass: function(item, itemIndex) {  },
        rowClick: function(args) {  },
        rowDoubleClick: function(args) {  },

        noDataContent: "Ajoutez une exigence en cliquant sur le +",

        confirmDeleting: true,
        deleteConfirm: "Souhaitez vous vraiment supprimer cette exigence?",
/*
        pagerContainer: null,
        pageIndex: 1,
        pageSize: 20,
        pageButtonCount: 15,
        pagerFormat: "Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
        pagePrevText: "Précèdent",
        pageNextText: "Next",
        pageFirstText: "Premier",
        pageLastText: "Dernier",
        pageNavigatorNextText: "...",
        pageNavigatorPrevText: "...",
*/
        invalidNotify: function(args) {  },
        invalidMessage: "Données invalides!",

        loadIndication: true,
        loadIndicationDelay: 500,
        loadMessage: "Veuillez patienter...",
        loadShading: true,

        updateOnResize: true,

        rowRenderer: null,
        headerRowRenderer: null,
     //   filterRowRenderer: null,
        insertRowRenderer: null,
        editRowRenderer: null

    });

    </script>
{% endblock %}




