{% extends 'baseAdmin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block sideNavDashboard %}active{% endblock %}

{% block content %}

<div class="wrapper-charts">
    <div class="wrapper-chart1">
        <div class="card card-chart">
            <div class="card-header card-header-info">
                <div class="white-chart">
                    <div class="ct-chart" id="chart1"></div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Historique des audits de la société</h4>
                <p class="card-category">
                    Depuis le {{ company.creationDate|date("d/m/Y") }}</p>
            </div>
        </div>
    </div>
    <div class="wrapper-chart2">
        <div class="card card-chart">
            <div class="card-header card-header-warning">
                <div class="white-chart">
                    <div class="ct-chart" id="chart2"></div>
                </div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Taux d'audits par score réalisé</h4>
                <p class="card-category">Du {{ "-12 months"|date("d/m/Y") }} au {{ "now"|date("d/m/Y") }}</p>
            </div>
        </div>
    </div>
</div>
<div class=" wrapper-infos">
    <div class="wrapper-infos1">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Exigences à surveiller</h4>
                <p class="card-category">Les résultats négatifs aux exigences les plus récurents sur les 6 derniers mois</p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-danger">
                    <th>Exigence</th>
                    <th class="text-center">Certification</th>
                    <th class="text-center">Récurence</th>
                    </thead>
                    <tbody>
                    {% for recurrentRequirement in recurrentRequirementList %}
                        <tr>
                            <td>{{ recurrentRequirement.description }}</td>
                            <td class="text-center">{{ recurrentRequirement.certification }}</td>
                            <td class="text-center">{{ recurrentRequirement.recurrence }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="wrapper-infos2">
        <div class="card">
            <div class="card-header card-header-success">
                <h4 class="card-title">Derniers audits</h4>
                <p class="card-category">Score moyen : {{ averageLastAuditsScore|number_format(2, '.') }}%</p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-success">
                    <th>Date</th>
                    <th class="text-center">Réalisé par</th>
                    <th class="text-center">Certification</th>
                    <th class="text-center">Score</th>
                    </thead>
                    <tbody>
                    {% for audit in lastAudits %}
                        <tr>
                            <td>{{ audit.lastModificationDate|date("d/m/Y") }}</td>
                            <td class="text-center">{{ audit.user.firstName }} {{ audit.user.lastName }}</td>
                            <td class="text-center">{{ audit.certification.title }}</td>
                            <td class="text-center">{{ audit.score }}%</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>


    var options = {
        chart: {
            height: 350,
            type: 'bar',
            stacked: false,
            events: {
                selection: function(chart, e) {
                    console.log(new Date(e.xaxis.min) )
                }
            },
        },

        theme: {
            palette: 'palette2'
        },
        dataLabels: {
            enabled: true
        },
        stroke: {
            curve: 'stepline'
        },

        series: [{% for auditScorePerType in auditsScorePerType %}
            {
                name: '{{ auditScorePerType.name }}',
                data: [
                        {% for data in auditScorePerType.data %}
                        {{ data|json_encode }},
                        {% endfor %}
                    ],
            },
            {% endfor %}
        ],
        fill: {
            type: 'gradient',
            gradient: {
                shade: 'dark',
                opacityFrom: 0.7,
                opacityTo: 0.8,
            }
        },
        legend: {
            position: 'top',
            horizontalAlign: 'left'
        },
        xaxis: {
            type: 'datetime',
            labels: {
                datetimeFormatter: {
                    month: 'MM/yy',
                    day: 'dd/MM',
                    hour: 'HH:mm'
                }
            }
        },
        yaxis: {

        },
        tooltip: {
            enabled: true,
            theme: 'dark',
            x: {
                show: true,
                format: 'Le dd/MM/yy',
                formatter: undefined,
            },
            y: {
                formatter: undefined,
                title: {
                    formatter: (seriesName) => seriesName,
                },
            },
        }
    };

    var chart = new ApexCharts(
        document.querySelector("#chart1"),
        options
    );

    chart.render();




    var options2 = {
        chart: {
            type: 'pie',
            height: 350,
        },
        colors:['#35CC54', '#8BE848', '#FFE946', '#E87F38', '#FF4C31'],
        labels: ['Supérieur à 95%', 'Entre 85% et 95%', 'Entre 75% et 85%', 'Entre 65% et 75%', 'Inférieur à 65%'],
        legend: {
            position: 'bottom',

        },
        series: {{ auditsPerScore|json_encode() }},
    };

    var chart2 = new ApexCharts(
        document.querySelector("#chart2"),
        options2
    );

    chart2.render();







</script>
{% endblock %}
