{% extends 'baseAdmin.html.twig' %}

{% block title %}Modèle d'audit - {{ model.title }}{% endblock %}

{% block sideNavModels %}active{% endblock %}

{% block content %}
<div class="wrapper-audit">

    <div class="card model-card-header">
        <div class="card-header card-header-success header-flex">
            <div class="header-center">
                <h4 class="card-title text-center">{{ model.title }}</h4>
                <p class="card-category text-center">Créé le {{ model.CreationDate|date("d/m/Y") }}</p>
            </div>
        </div>
        <div class="card-body card-model">
            <div class="text-center">{{ model.description }}</div>
        </div>
    </div>

    {% for theme in model.themes %}
    <div class="card card-nav-tabs theme-card">
        <div class="card-header card-header-success">
            Thème {{ theme.rankCertification }}
        </div>
        <div class="card-body">
            <h4 class="card-title">{{ theme.title }}</h4>
            <p class="card-text">{{ theme.description }}</p>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-success">
                    <th>ID</th>
                    <th>Exigence</th>
                    </thead>
                    <tbody>
                    {% for requirement in theme.requirements %}
                        <tr>
                            <td>{{ requirement.rankTheme }}</td>
                            <td>{{ requirement.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="btn-centered">
        <button id="addThemeBtn" class="btn btn-info my-5">Ajouter un thème</button>
    </div>


    <div class="btn-centered">
        <a href="{{ path('admin-modelList') }}" class="back-btn-text"><button class="btn btn-outline-secondary">Retour à la liste de modèles d'audits</button></a>
    </div>
</div>

<div id="addThemeModal" class="card modalDash deleteModal">
    <div id="modalThemeContent" class="modal-content">
        <div class="card-header card-header-danger">
            <h4 class="card-title text-center">Ajouter un thème</h4>
        </div>
        <div class="card-body">
            <h5 class="text-center my-3">Ajoutez un titre et une description au nouveau thème</h5>
            <div class="">
                {{ form_start(form, {'action': path('admin-editModel', {modelId : model.id}), 'method': 'POST'}) }}
                {{ form_errors(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                <div class="actions-modal">
                    <button id="addThemeCancel" class="btn btn-outline-secondary btn-modal">Annuler</button>
                    <button id="addThemeSave" type="submit" class="btn btn-info btn-modal">Ajouter</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script>
        var btnModalUp = document.getElementById("addThemeBtn");
        var modal = document.getElementById('addThemeModal');
        var modalContent = document.getElementById("modalThemeContent");
        var btnDelete = document.getElementById("addThemeCancel");

        btnModalUp.onclick = function () {
            modal.style.display = "flex";
        };

        btnDelete.onclick = function () {
            //    modal.style.animation = "fadeOut 0.3s";
            //   modalContent.style.animation = "zoomOut 0.3s";
            modal.style.display = "none";
        };

        $(document).ready(function () {
            var form = $("[name='add_theme']");
            form.on('submit', function (e) {
                //e.preventDefault();
                if ($('#add_theme_title').val() !== '' || $('#add_theme_description').val() !== '') {
                    btn = $('#addThemeSave');
                    btn.prop('disabled', true);
                    btn.html('Ajout en cours...');
                }
            });
        })




        var clients = [
            { "requirement": "Otto Clay"},
            { "requirement": "Connor Johnston"},
            { "requirement": "Lacey Hess"},
        ];


        $("#theme1").jsGrid({


            data: clients,

            fields: [
                { name: "requirement", title: "Exigence", type: "text", width: 500, validate: "required"},
                { type: "control" },

            ],

            autoload: false,
            controller: {
                loadData: function(filter) {
                    return $.ajax({
                        type: "GET",
                        url: "/items",
                        data: filter
                    });
                },

                insertItem: function(item) {
                    return $.ajax({
                        type: "POST",
                        url: "/items",
                        data: item
                    });
                },

                updateItem: function(item) {
                    return $.ajax({
                        type: "PUT",
                        url: "/items",
                        data: item
                    });
                },

                deleteItem: function(item) {
                    return $.ajax({
                        type: "DELETE",
                        url: "/items",
                        data: item
                    });
                },
            },

            width: "100%",
            height: "auto",

            heading: true,
            filtering: false,
            inserting: true,
            editing: true,
            selecting: true,
            sorting: false,
            paging: false,
            pageLoading: false,

            rowClass: function(item, itemIndex) {  },
            rowClick: function(args) {  },
            rowDoubleClick: function(args) {  },

            noDataContent: "Ajoutez une exigence en cliquant sur le +",

            confirmDeleting: true,
            deleteConfirm: "Souhaitez vous vraiment supprimer cette exigence?",

            invalidNotify: function(args) {  },
            invalidMessage: "Données invalides!",

            loadIndication: true,
            loadIndicationDelay: 500,
            loadMessage: "Veuillez patienter...",
            loadShading: true,

            updateOnResize: true,

            rowRenderer: null,
            headerRowRenderer: null,
            //   filterRowRenderer: null,
            insertRowRenderer: null,
            editRowRenderer: null

        });

</script>
{% endblock %}