{% extends 'baseAdmin.html.twig' %}

{% block title %}Modèles d'audits{% endblock %}

{% block sideNavModels %}active{% endblock %}

{% block content %}
    <div class="btn-newModel-wrapper">
        <a href="{{ path('admin-createModel') }}" class="btn btn-info btn-newModel">Créer un nouveau modèle</a>
    </div>

    <div class="model-wrapper">
        {% for key, model in models %}
            <div id="modelDeleter{{ key }}" class="card model-card">
                <div class="card-header card-header-text card-header-success">
                    <div class="card-text">
                        <h4 class="card-title">{{ model.title }}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <p class="model-description">{{ model.description }}</p>
                </div>
                <div class="model-actions-wrapper">
                    <button onclick="location.href='{{ path('admin-modelDetail', {'modelId' : model.id}) }}'" type="button" class="btn btn-info btn-link">Voir</button>
                    <button onclick="location.href='{{ path('admin-editModel', {'modelId' : model.id}) }}'" type="button" class="btn btn-warning btn-link">Modifier</button>
                    <button id="deleteBtn{{ key }}" class="btn btn-danger btn-link">Supprimer</button>
                </div>
            </div>

            <div id="deleteModal{{ key }}" class="card modalDash deleteModal">
                <div id="modal-content-model{{ key }}" class="modal-content">
                    <div class="card-header card-header-danger mb-3">
                        <h4 class="card-title text-center">Suppression d'un modèle</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center">Souhaitez-vous vraiment supprimer ce modèle d'audit?</h5>
                        <p class="text-center">{{ model.title }}</p>
                        <div class="actions-modal">
                            <button id="deleteCancel{{ key }}" class="btn btn-outline-secondary btn-modal">Annuler</button>
                            <a id="deleteAction{{ key }}" href="{{ path('admin-deleteModel', {'modelId' : model.id}) }}" class="btn btn-danger btn-modal">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        {% for key in models|keys %}

        var btnModalUp{{ key }} = document.getElementById("deleteBtn{{ key }}");
        var modal{{ key }} = document.getElementById('deleteModal{{ key }}');
        var modalContent{{ key }} = document.getElementById("modal-content{{ key }}");
        var btnDelete{{ key }} = document.getElementById("deleteCancel{{ key }}");
        var modelDeleter{{ key }} = document.getElementById("modelDeleter{{ key }}");

        btnModalUp{{ key }}.onclick = function() {
            modal{{ key }}.style.display = "flex";
        };

        btnDelete{{ key }}.onclick = function() {
            //    modal.style.animation = "fadeOut 0.3s";
            //   modalContent.style.animation = "zoomOut 0.3s";
            modal{{ key }}.style.display = "none";
        };



        var deleteLink = $('#deleteAction{{ key }}');

        deleteLink.on('click', function(e) {
            e.preventDefault();

            $.ajax({
                method: 'GET',
                url: deleteLink.attr('href')
            });

            modelDeleter{{ key }}.style.display = "none";
            modal{{ key }}.style.display = "none";

        });

        {% endfor %}




    </script>
{% endblock %}
