{% extends 'baseAdmin.html.twig' %}

{% block title %}Nouveau modèle{% endblock %}

{% block sideNavModels %}active{% endblock %}

{% block content %}

<div class="wrapper-audit">
    <div class="card">
        <div class="card-header card-header-success header-flex">
            <div class="header-right">
                <h4 class="card-title">Créer un nouveau modèle d'audit</h4>
                <p class="card-category"></p>
            </div>
        </div>
        <div class="card-body card-model">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            <div class="action-create-btn">
                <input type="submit" class="btn btn-info" value="Sauvergarder">
                <button onclick="location.href='{{ path('admin-modelList') }}'" type="button" class="btn btn-secondary">Annuler</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

</div>

{% endblock %}

